.person {
	height: 1150px;
	width: auto;
	background-image: url(../../Images/Intro/Christiaan.jpg);

}

.introtekst {
	width: 800px;
	height: 400px;
	padding-left: 33%;
	text-align: justify;
	color: white;
	font-weight: 200;
	padding-top: 3%;
	align-items: center;
}